
<nb-layout>

  
    <nb-layout-column>
      <nb-layout>

       <!--Second Section-->
       
        <nb-layout-column class="layout-background-color">
          <div class="row" style="margin-top: 40px;">
            <div class="col">
          <nb-card class="card-layout">
            <nb-card-header class="header-align">
              <img class="card-img" src="https://image.freepik.com/free-photo/smiling-business-woman-with-crossed-arms-portrait-isolated-white-background_231208-10220.jpg">
              <h5>Sample</h5>
            </nb-card-header>
            <nb-card-body>
              **** provides comprehensive pregnancy packages with complete digital guidance on diet and exercise.
            </nb-card-body>
            <nb-card-footer>
              <a href="#">Know More</a>
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col">
          <nb-card class="card-layout">
            <nb-card-header class="header-align">
              <img class="card-img" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
              <h5>Sample</h5>
            </nb-card-header>
            <nb-card-body>
              At ****, we connect you to our best fertility care experts
            </nb-card-body>
            <nb-card-footer>
              <a href="#">Know More</a>
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col">
          <nb-card class="card-layout">
            <nb-card-header class="header-align">
              <img class="card-img" src="https://image.freepik.com/free-photo/smiling-business-woman-with-crossed-arms-portrait-isolated-white-background_231208-10220.jpg">
              <h5>Health Screenings</h5>
            </nb-card-header>
            <nb-card-body>
              Book essential health check-ups.
            </nb-card-body>
            <nb-card-footer>
              <a href="#">Know More</a>
            </nb-card-footer>
          </nb-card>
        </div>
        <div class="col">
          <nb-card class="card-layout">
            <nb-card-header class="header-align">
              <img class="card-img" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
              <h5>Health Advise</h5>
            </nb-card-header>
            <nb-card-body>
              Book essential health check-ups.
            </nb-card-body>
            <nb-card-footer>
              <a href="#">Know More</a>
            </nb-card-footer>
          </nb-card>
          </div>
        </div>
        </nb-layout-column>
      
        <!--Third Section-->
      </nb-layout>
      <nb-layout class="third-section">
        <nb-layout-column>
          <h1>Health Issues</h1><br>
          <p>Consult with an experienced doctor today!</p>
          <div class="row">
            <div class="col">
            <nb-card class="card-layout-third">
              <nb-card-header class="header-align">
                <img class="card-img" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                <h6>Gynaecology</h6>
                <a href="#">Consult Now</a>
              </nb-card-header>
            </nb-card>
          </div>
          <div class="col">
            <nb-card class="card-layout-third">
              <nb-card-header class="header-align">
                <img class="card-img" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                <h6>Bone Problems</h6>
                <a href="#">Consult Now</a>
              </nb-card-header>
            </nb-card>
          </div>
          <div class="col">
            <nb-card class="card-layout-third">
              <nb-card-header class="header-align">
                <img class="card-img" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                <h6>Obesity</h6>
                <a href="#">Consult Now</a>
              </nb-card-header>
            </nb-card>
          </div>
          <div class="col">
            <nb-card class="card-layout-third">
              <nb-card-header class="header-align">
                <img class="card-img" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                <h6>Dermatology</h6>
                <a href="#">Consult Now</a>
              </nb-card-header>
            </nb-card>
          </div>
          <div class="col">
            <nb-card class="card-layout-third">
              <nb-card-header class="header-align">
                <img class="card-img" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                <h6>Psychiatry</h6>
                <a href="#">Consult Now</a>
              </nb-card-header>
            </nb-card>
          </div>
          </div>
          <div class="row">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="single-box">
                              <div class="img-area">
                                <nb-card>
                                  <nb-card-header class="header-align">
                                    <img  class="caro-width" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                                    <h6>Psychiatry1</h6>
                                    <a href="#">Consult Now</a>
                                  </nb-card-header>
                                </nb-card>    
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="single-box">
                              <div class="img-area">
                                <nb-card>
                                  <nb-card-header class="header-align">
                                    <img  class="caro-width" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                                    <h6>Psychiatry2</h6>
                                    <a href="#">Consult Now</a>
                                  </nb-card-header>
                                </nb-card>    
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="single-box">
                              <div class="img-area">
                                <nb-card>
                                  <nb-card-header class="header-align">
                                    <img  class="caro-width" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                                    <h6>Psychiatry3</h6>
                                    <a href="#">Consult Now</a>
                                  </nb-card-header>
                                </nb-card>   
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
        
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="single-box">
                              <div class="img-area">
                                <nb-card>
                                  <nb-card-header class="header-align">
                                    <img  class="caro-width" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                                    <h6>Psychiatry4</h6>
                                    <a href="#">Consult Now</a>
                                  </nb-card-header>
                                </nb-card>   
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="single-box">
                              <div class="img-area">
                                <nb-card>
                                  <nb-card-header class="header-align">
                                    <img  class="caro-width" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                                    <h6>Psychiatry5</h6>
                                    <a href="#">Consult Now</a>
                                  </nb-card-header>
                                </nb-card>   
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="single-box">
                              <div class="img-area">
                                <nb-card>
                                  <nb-card-header class="header-align">
                                    <img  class="caro-width" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                                    <h6>Psychiatry6</h6>
                                    <a href="#">Consult Now</a>
                                  </nb-card-header>
                                </nb-card>  
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
        
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="single-box">
                              <div class="img-area">
                                <nb-card>
                                  <nb-card-header class="header-align">
                                    <img  class="caro-width" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                                    <h6>Psychiatry7</h6>
                                    <a href="#">Consult Now</a>
                                  </nb-card-header>
                                </nb-card>  
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="single-box">
                              <div class="img-area">
                                <nb-card>
                                  <nb-card-header class="header-align">
                                    <img class="caro-width" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                                    <h6>Psychiatry8</h6>
                                    <a href="#">Consult Now</a>
                                  </nb-card-header>
                                </nb-card>  
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="single-box">
                              <div class="img-area">
                                <nb-card>
                                  <nb-card-header>
                                    <img class="caro-width" src="https://image.freepik.com/free-photo/young-business-woman-pointing-finger-side-isolated-grey-wall_231208-230.jpg">
                                    <h6>Psychiatry9</h6>
                                    <a href="#">Consult Now</a>
                                  </nb-card-header>
                                </nb-card>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nb-layout-column>
      </nb-layout>
      
      
      
      
          
    </nb-layout-column>
  
    <nb-layout-footer fixed>
    <!-- Insert footer here -->
    </nb-layout-footer>
  
  </nb-layout>
  <router-outlet></router-outlet>